<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluguer de Carros</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="Menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login de cliente</a></li>
                    <li><a class="button" href="/login">Login de admnistrador</a></li>
                    <li><a class="button" href="/signup">Se não tiver conta sign up aqui</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/gform/Cliente">Cliente</a></li>
                    
                    <li><a class="button" href="/submenu?subm=veiculo">Veiculo</a></li>
                    <li><a class="button" href="/submenu?subm=aluguer">Aluguer</a></li>
                    
                    
                    
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                    
                    <br><br>
                    {% if submenu == "aluguer" %}
                        <li><a class="button" href="/subform/Cliente_Aluguer?option=''&subm=aluguer">aluguer lines</a></li>
                        <li><a class="button" href="/aluguer/mapa?option=''">Mapa encomendas</a></li>
                    {% endif %} 
                    
                    {% if submenu == "veiculo" %}
                        <li><a class="button" href="/gform/Veiculo?subm=veiculo">Veiculo</a></li>
                        <li><a class="button" href="/veiculoform?subm=veiculo">Product(foto)</a></li>
                    {% endif %} 
                    
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
