<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluguer de carros</title>
    {% block title %}
    {% endblock %}
  </head>

    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
            
                  
                    
                    <a href="/login" class="button">Login</a>
                    <a href="/signup" class="button">Criar conta</a>

            </ul>
        </nav>
        {% else %}

            <nav class="navbar">
                <ul class="menu">
                    {% if usergroup == 'Cliente' %} 
                        <li><a class="button" href="/">Página inicial</a></li>
                        <li><a class="button" href="/gformC/Cliente">Cliente</a></li>
                        <li><a class="button" href="/veiculo">Veículos</a></li>  
                        <li><a class="button" href="/gformA/Aluguer">Aluguer</a></li>                    
                                          
                        <li><a class="button" href="/logoff">Logoff</a></li>                                        
                        <li><a class="button" style="color:white">User:{{ulogin}}</a></li>                                        
                        <br><br>
                    
                    {% else %} 
                        <li><a class="button" href="/">Página inicial</a></li>
                        
                        <li><a class="button" href="/submenu?subm=Aluguer">Alugueres</a></li>                    
                        <li><a class="button" href="/gform/Userlogin">Users</a></li>
                        <li><a class="button" href="/submenu?subm=Veiculo">Veículos</a></li>
                        <li><a class="button" href="/logoff">Logoff</a></li>                                        
                        <li><a class="button" style="color:white">User:{{ulogin}}</a></li>                                        
                        <br><br>
                        {% if submenu == 'Aluguer' %}
                            <li><a class="button" href="/gformT/Aluguer?option=''&subm=Aluguer">Alugueres Realizados</a></li>
                        {%endif%} 
                        {% if submenu == 'Veiculo' %}
                            <li><a class="button" href="/gformT/Veiculo?option=''&subm=Veiculo">Dados dos Veículos</a></li>
                            
                            
                        {%endif%} 
                    {% endif %}
                   
              </ul>        
            </nav> 
        {% endif %}       
        
    {% block content %}
    {% endblock %}
  </body>
</html>