

{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
    <br><br>
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="300" height="250">
        <br><br>
        <h1 style="color:white">{{header}}</h1>
        <br>
        
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/gformC/{{cname}}?option=edit'" class="button1">Edit</button>
        
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/gformC/{{cname}}?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" class = "button1" {{butedit}}>Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/gformC/{{cname}}?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/gformC/{{cname}}?option=exit'" class="button1">Exit</button>
        <br><br>
            <form id="form" action="/gformC/{{cname}}?option=save" method="post">
                {% for key in att %}
                  <label style="color:white" for="{{key}}">{{des[loop.index-1]}}:</label>
                  {% if loop.index == 1 and butedit == 'enabled' and auto_number == 1 %}
                      <input style="color:darkblue" type="text" disabled id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                  {%else%}                  
                      <input style="color:darkblue" type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}" size="30"/>
                  {%endif%}
                  <br><br>
                {% endfor %}
        </form>
        <br>
        
        <br><br>
        <br><br>
    </div>

{% endblock %}