
{% extends 'base.html' %}
{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
<body>
    <section class="hero-section">
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      
      
      <br><br>
        <h2 class="hero">Carros para qualquer tipo de viagem!</h2>
        
        <div class="img">
            <img src="https://th.bing.com/th/id/OIP.2p9_qlScAc0kIuCcGdvDBwHaEU?rs=1&pid=ImgDetMain" alt="em construção" >
        </div>
      
    </section>
            
    
            

</body>    
    
    

{% endblock %}
