
{% extends 'base.html' %}
{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
<body>
    <section class="hero-section">
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <h2 class="hero">Carros para qualquer tipo de viagem!</h2>
        
        <div class="img">
            <img src="/static/images/INDEX.jpg" alt="em construção" >
        </div>
      
    </section>
            
    
            

</body>    

{% endblock %}
