
{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
   <div class="dados">
       <br><br>
           <h1 style="color:white">Veículos Disponíveis</h1>
   </div>
    
    
     
   <br><br>        
    <ul class="imagelist sales">
    
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link petsales">
    			<img src="/static/images/BMWZ3.jpg" alt="Sale" />
    			<h4>BMW Z3</h4>
    			<span>10.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Porto</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    	
    		<a href="/gformA/Aluguer" class="sales--link petsales leisuresales">
    			<img src="/static/images/Porsche 997 Carrera 4S Cabriolet PDK.webp" alt="Sale" />
    			<h4>Porsche 997 Carrera 4S Cabriolet PDK</h4>
    			<span>12.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Porto</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link babysales">
    			<img src="/static/images/BMW M3 Cabrio SMGII.jpeg" alt="Sale" />
    			<h4>BMW M3 Cabrio SMGII</h4>
    			<span>11.50€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Porto</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link homesales">
    			<img src="/static/images/Mercedes-Benz X 250 d Progressive 4-Matic Aut..jpeg" alt="Sale" />
    			<h4>Mercedes-Benz X 250 d Progressive 4-Matic Aut.</h4>
    			<span>10.50€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Braga</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/VW Passat Variant 1.4 TSI GTE+ Plug-in.jpeg" alt="Sale" />
    			<h4>VW Passat Variant 1.4 TSI GTE+ Plug-in</h4>
    			<span>10.50€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Braga</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Skoda Octavia Break 1.6 TDi Ambition.webp" alt="Sale" />
    			<h4>Skoda Octavia Break 1.6 TDi Ambition</h4>
    			<span>7.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Braga</h4>
            </a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Fiat 500 1.2 Lounge.jpg" alt="Sale" />
    			<h4>Fiat 500 1.2 Lounge</h4>
    			<span>7.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Lisboa</h4>
    		</a>
    	
        </li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="static/images/Toyota Aygo 1.0 X-Play.avif" alt="Sale" />
    			<h4>Toyota Aygo 1.0 X-Play</h4>
    			<span>7.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Lisboa</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Smart ForFour 1.0 Passion 71 Aut..jpg" alt="Sale" />
    			<h4>Smart ForFour 1.0 Passion 71 Aut.</h4>
    			<span>7.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Lisboa</h4>
    		</a>
    	</li>
        
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="static/images/BMW 640 Gran Coupé d xDrive Pack M.jpg" alt="Sale" />
    			<h4>BMW 640 Gran Coupé d xDrive Pack M</h4>
    			<span>10.50€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Viana do Castelo</h4>
    		</a>
        </li>
        <li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="static/images/BMW 216 Gran Coupé d Pack M.jpg" alt="Sale" />
    			<h4>BMW 216 Gran Coupé d Pack M</h4>
    			<span>11.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Viana do Castelo</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Lamborghini Revuelto.jpg.webp" alt="Sale" />
    			<h4>Lamborghini Revuelto</h4>
    			<span>30.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Viana do Castelo</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Maserati Granturismo Folgore.jpg.webp" alt="Sale" />
    			<h4>Maserati Granturismo Folgore</h4>
    			<span>20.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Porto</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/SEAT Ibiza 1.4 TDi Reference.jpg" alt="Sale" />
    			<h4>SEAT Ibiza 1.4 TDi Reference</h4>
    			<span>7.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Porto</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Citroën C3 1.2 PureTech Shine.jpeg" alt="Sale" />
    			<h4>Citroën C3 1.2 PureTech Shine</h4>
    			<span>9.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Porto</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/BMW 116 d EDynamics Line Sport.jpeg" alt="Sale" />
    			<h4>BMW 116 d EDynamics Line Sport</h4>
    			<span>9.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Braga</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="static/images/Porsche 356.webp" alt="Sale" />
    			<h4>Porsche 356</h4>
    			<span>17.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Braga</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Mercedes-Benz SL 63 AMG 4Matic+.webp" alt="Sale" />
    			<h4>Mercedes-Benz SL 63 AMG 4Matic+</h4>
    			<span>15.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Braga</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="/static/images/Lamborghini Aventador S Roadster.webp" alt="Sale" />
    			<h4>Lamborghini Aventador S Roadster</h4>
    			<span>30.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Lisboa</h4>
    		</a>
    	</li>
    	<li class="sales--container">
    		<a href="/gformA/Aluguer" class="sales--link">
    			<img src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6ImE2aXFrdHVzbXRiMzEtU1REVlRMUFQiLCJ3IjpbeyJmbiI6IjZtZ2p3bHA3a2dkYjItU1REVlRMUFQiLCJzIjoiMTYiLCJwIjoiMTAsLTEwIiwiYSI6IjAifV19.61lOSuS8_okBs6EF72kxseOZfKCKH04yozSCgUEvJiE/image;s=0x450;q=80" alt="Sale" />
    			<h4>Rolls Royce Ghost</h4>
    			<span>16.00€/dia</span>
    			<br><br>
    			<h4>Local de Recolha: Lisboa</h4>
    		</a>
    	</li>
    </ul>
    {% endblock %}